{{ if $.Page.Params.phone }}
<h4>Phone</h4>
{{ range $key, $val := $.Page.Params.phone }}
  <a href="tel:{{ index $val 0 }}" rel="nofollow">{{ index $val 0 }}</a> {{ index $val 1 }}<br>
{{ end }}
{{ end }}