<script src="/js/leaflet.js"></script>
<h4>Location</h4>
<div id="mapid-single"></div>
<script>
  var map = L.map('mapid-single').setView([{{ $.Page.Params.lat }}, {{ $.Page.Params.long }}], 12);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  L.marker([{{ $.Page.Params.lat }}, {{ $.Page.Params.long }}]).addTo(map)
    .bindPopup('<b>{{ $.Page.Params.title }}</b> \
                <a href="https://www.google.com/maps/search/?api=1&query={{ $.Page.Params.lat }},{{ $.Page.Params.long }}"> \
                {{ range $.Page.Params.address }}<br>{{ . }}{{ end }}\
                </a>')
    .openPopup();
</script>