{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        <ul class="list-inline text-left">
          {{ if .Params.website }}
            <li>
              <a href="{{ .Params.website }}" title="Website">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {{ end }}
          {{ if .Params.facebook }}
          <li>
            <a href="{{ .Params.facebook }}" title="Facebook">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Params.twitter }}
          <li>
            <a href="{{ .Params.twitter }}" title="Twitter">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Params.instagram }}
          <li>
            <a href="{{ .Params.instagram }}" title="Instagram">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if .Params.pintrest }}
          <li>
            <a href="{{ .Params.pintrest }}" title="Pinterest">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {{ end }}
          {{ if and (.Params.lat) (.Params.long) }}
          <li>
              <a href="https://www.google.com/maps/search/?api=1&query={{ .Params.lat }},{{ .Params.long }}" title="Navigate">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-map-pin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {{end }}
        </ul>
        {{ .Content }}
      </article>

      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
